@mixin text-hide() {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

@mixin image-replace($imageURL, $width, $height) {
  @include text-hide();
  background: url($imageURL) no-repeat;
  background-size: $width $height;
  height: $height;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: $width;
}
